<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
    </div>
    
    <div class="col-lg-8 offset-lg-1 col-md-12 col-sm-12">
      <h4 class="page-title">
        <% if @user == current_user %>
          あなたのフォロワー
        <% else %>
          <%= @user.name %>さんのフォロワー
        <% end %>
      </h4>
      
      <% if @user.followers.exists? %>
        <%= render 'follows', users: @followers %>
        <%= paginate @followers, theme: "twitter-bootstrap-4" %>
      <% else %>
        <p class="ml-2">フォロワーはいません</p>
      <% end %>
    </div>
  </div>
</div>