<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/partial/userinfo', user: @user, book: @book, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h4 class="page-title"><%= @user.name %>さんのフォロー</h4>
      <% if @followings.exists? %>
        <%= render 'public/partial/follows', users: @followings, book: @book, recommenbook: @recommenbook %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>