<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-12">
        <p class="page-title">
          ＲｅｃｏｍｍｅｎＢｏｏｋ（レコメンブック）
        </p>
        <h5 class="top-text">
          ここでは、じぶんのすきな本をレビューしたり、<br>
          気になる本をさがしてみたり、<br>
          自分と好みが似ている人のよんでいる本をチェックしたり。。<br>
          みんなで楽しく本をよもう！<i class="fas fa-book"></i><i class="fas fa-smile"></i>
        </h5>
      </div>
    <% else %>
      <div class="col-md-3">
        <%= render "public/partial/session", user: @user %>
      </div>
      <div class="col-md-8 offset-md-1">
        <p class="page-title">
          ＲｅｃｏｍｍｅｎＢｏｏｋ（レコメンブック）
        </p>
        <h5 class="top-text">
          ここでは、じぶんのすきな本をレビューしたり、<br>
          気になる本をさがしてみたり、<br>
          自分と好みが似ている人のよんでいる本をチェックしたり。。<br>
          みんなで楽しく本をよもう！<i class="fas fa-book"></i><i class="fas fa-smile"></i>
        </h5>
      </div>
    <% end %>
  </div>
</div>