<div class="container">
  <div class="row">
    <div class="col-md-6 mr-auto">
      <!--あとでログイン・ゲストログイン・新規登録の部分テンプレートをつくってはめる-->
    </div>
    <div class="col-md-8 offset-md-1">
      <h1 class="top-text">
        ようこそRecommenBookへ
      </h1>
      <h5 class="top-text">
        紹介文をあとでじっくり考えます。<br>
        紹介文をあとでじっくり考えます。<br>
        紹介文をあとでじっくり考えます。<br>
        ゲストログイン利用も可能です。<br>
      </h5>
    </div>
  </div>
</div>