<div class="container-fluid">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-12 col-sm-12">
        <div class="top-image">
          <p class="top-title">RecommenBook（レコメンブック）</p>
          <h5 class="top-text">
            気になる本をさがしてストック！<br>
            みんなのレビューをよんだり<br>
            ツイートで新刊情報も共有できたり？<br>
            みんなで楽しく本をよもう！<i class="fas fa-book"></i><i class="fas fa-smile"></i>
          </h5>
        </div>

      </div>
    <% else %>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render "public/partial/session", user: @user %>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="top-image">
          <p class="top-title">RecommenBook（レコメンブック）</p>
          <h5 class="top-text">
            気になる本をさがしてストック！<br>
            みんなのレビューをよんだり<br>
            ツイートで新刊情報も共有できたり？<br>
            みんなで楽しく本をよもう！<i class="fas fa-book"></i><i class="fas fa-smile"></i>
          </h5>
        </div>
      </div>
    <% end %>
  </div>
</div>