<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col">
        <div class="top-image">
          <h1 class="top-title">RecommenBook</h1>
          <h5 class="top-text">
            みんなのレビューをみたり<br>
            ツイートで情報共有したり<br>
            気になる本を探してストック！<br>
            みんなで本の感想を共有しよう<i class="fas fa-book"></i><i class="fas fa-smile"></i>
          </h5>
        </div>

      </div>
    <% else %>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render "public/partial/session", user: @user %>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="top-image">
          <h1 class="top-title">RecommenBook</h1>
          <h5 class="top-text">
            みんなのレビューをみたり<br>
            ツイートで情報共有したり<br>
            気になる本を探してストック！<br>
            みんなで本の感想を共有しよう<i class="fas fa-book"></i><i class="fas fa-smile"></i>
          </h5>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 d-lg-none">
        <%= render "public/partial/session", user: @user %>
      </div>
    <% end %>
  </div>
</div>