<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-12">
        <h1 class="page-title">
          RecommenBook
        </h1>
        <h5 class="top-text">
          本を読んだ経験を共有しよう<br>
          気になる本を楽しく探そう
        </h5>
      </div>
    <% else %>
      <div class="col-md-3">
        <%= render "public/partial/session", user: @user %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h1 class="page-title">
          ようこそRecommenBookへ
        </h1>
        <h5 class="top-text">
          本を読んだ経験を共有しよう<br>
          気になる本を楽しく探そう
        </h5>
      </div>
    <% end %>
  </div>
</div>