<!--reviewの一覧-->
<div class="container-fluid">
  <div class="row flex-row">
    <% if params[:user_name] %>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
      </div>
    <% end %>
    
    <div class="col-lg-8 offset-lg-1 col-md-12 col-sm-12">
      <h4 class="page-title">
        <%= @context[:title] %>
      </h4>
      
      <% if @context[:reviews].present? %>
        <%= render 'public/partial/lists', objects: @context[:reviews] %>
        <%= paginate @context[:reviews], theme: 'twitter-bootstrap-4' %>
      <% else %>
        <p>レビューがありません</p>
      <% end %>
    </div> <!--col end-->
  
  </div> <!--row end-->
</div> <!--container-fluid end-->