<!--reviewの一覧-->
<div class="container">
  <h4 class="page-title">
    <% if params[:user_id].present? && params[:user_id].to_i == current_user.id %>
      あなたのレビュー
    <% elsif params[:user_id].present? && params[:user_id].to_i != current_user.id %>
      <%= @user.name %>さんのレビュー（新着順）
    <% else %>
      レビュー（新着順）
    <% end %>
  </h4>
  <div class="row">
    <div class="col mt-3">
      <% if @reviews.present? && params[:user_id].to_i == current_user.id %>
        <%= render 'reviews', reviews: @my_reviews %>
      <% elsif @reviews.present? && params[:user_id].to_i != current_user.id %>
        <%= render 'reviews', reviews: @reviews %>
      <% else %>
        <p>レビューがありません</p>
      <% end %>
    </div>
  </div>
</div>