<!--reviewの一覧-->
<div class="container">
  <h4 class="page-title">
    <% if params[:user_id].present? && params[:user_id].to_i == current_user.id %>
      あなたのレビュー
    <% elsif params[:user_id].present? && params[:user_id].to_i != current_user.id %>
      <%= @user.name %>さんのレビュー（新着順）
    <% else %>
      レビュー（新着順）
    <% end %>
  </h4>
  <div class="row">
    <div class="col mt-3 table-responsive">
      <!--# ユーザーIDの受け渡しがあって、かつIDがcurrent_userのもの-->
      <% if params[:user_id].present? && params[:user_id].to_i == current_user.id %>
        <% if @my_reviews.present? %>
          <%= render 'public/partial/lists', objects: @my_reviews %>
        <% else %>
          <p>レビューがありません</p>
        <% end %>
        
      <!--# ユーザーIDの受け渡しがあって、かつIDがcurrent_userのものではない-->
      <% elsif params[:user_id].present? && params[:user_id].to_i != current_user.id %>
        <% if @user_reviews.present? %>
          <%= render 'public/partial/lists', objects: @user_reviews %>
        <% else %>
          <p>レビューがありません</p>
        <% end %>
        
      <!--# ユーザーIDの受け渡しがない = 未ログインユーザー-->
      <% elsif params[:user_id].blank? %>
        <% if @reviews.present? %>
          <%= render 'public/partial/lists', objects: @reviews %>
        <% else %>
          <p>レビューがありません</p>
        <% end %>
          
      <% end %>
    </div>
  </div>
</div>