<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/users/info', user: @user, book: @book, in_release_reviews: @in_release_reviews %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h4 class="page-title"><%= @user.name %>さんのいいね履歴一覧</h4>
      <% if @combined_records.present? %>
        <%= render 'public/partial/lists', objects: @combined_records %>
      <% else %>
        <p>いいね履歴がありません</p>
      <% end %>
    </div>
  </div>
</div>
