<!--いいね一覧-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h4 class="page-title">
        <% if params[:user_name].present? && params[:user_name] == current_user.name %>
          あなたのいいね一覧
        <% elsif params[:user_name].present? && params[:user_name] != current_user.name %>
          <%= @user.name %>さんのいいね一覧（新着順）
        <% end %>
      </h4>
      
      <% if @combined_records.present? %>
        <%= render 'public/partial/lists', objects: @combined_records %>
      <% else %>
        <p>いいね履歴がありません</p>
      <% end %>
    </div> <!--col-md-8 end-->
  </div> <!--row end-->
</div> <!--container-fluid end-->