/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-name{
  font-size: 20px;
}

.login-admin{
  font-size: 20px;
  color: #008000;
}

header {
  font-family: 'DotGothic16', sans-serif;
  background-color: white;
  display: flex;
  z-index: 99;
  top: 0;
  height: 80px;
  position: fixed;
  justify-content: space-between;
  width: 100%;
}

.logo-image {
  width: 30%;
  height: 30%;
}

.navbar-toggler {
  font-size: inherit !important;
  background-color: white;
  justify-content: flex-end;
}

.nav-link{
  color: #808080;
  border: gray;
  border-radius: 2px;
}

.nav-item {
  background-color: white;
}

main {
 font-family: 'DotGothic16', sans-serif;
 margin: 80px auto;
}

footer{
  font-family: 'DotGothic16', sans-serif;
  background-color: white;
}

.top-image {
  /*background-attachment: fixed;*/
  margin-top: 0;
  background-image: url("hondana.jpg");
  /*background-position: center;*/
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.top-image:before {
  background: inherit;
  content: '';
  filter: blur(4px);
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

.top-image .top-title{
  font-size: 30px;
  position: absolute;
  color: white;
  font-weight: bold;
  top: 5%;
  text-shadow: 1px 1px 2px white, 0 0 1em gray, 0 0 0.2em gray;
}

.top-image .top-text{
  line-height: 2.5;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  color: white;
  max-width: 90%;
  top: 20%;
  text-shadow: 1px 1px 2px gray, 0 0 1em gray, 0 0 0.2em gray;
}

.page-title{
  padding: 5px;
  font-weight: 450;
  font-size: 30px;
}

.page-subtitle{
  background-color: #ddd;
  display: inline-block;
  margin: 1% 2%;
  padding: 5px;
  border-radius: 5px;
}

.pagination{
  justify-content: center;
}

.lists {
  border: 2px dotted #dcdcdc;
  border-radius: 20px;
  border-collapse: separate;
}

th {
  color: #006400;
}

.form-title {
  color: #006400;
  /*width: 20%;*/
}

.input-form {
  width: 50%;
}

.lists-image {
  padding: 10px;
}

.admin-user-image{
  width: 10%;
  height: auto;
}

.user-image-area{
  position: relative;
}

.user-image {
  width: 30%;
  height: auto;
}

.edit-btn {
  width: 15%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 0;
}

.edit-user-image{
  width: 20%;
  height: auto;
}

.spoiler-large {
  font-size: 20px;
  font-weight: bold;
  color: #ff4500;
}

.spoiler-small {
  font-size: 12px;
  color: #ff4500;
}

.favorite-explain{
  font-size: 20px;
  padding-left: 20px;
  color: green;
}

.mypage-title{
  color: #dc143c;
  margin-top :20px;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
footer{
  font-family: 'DotGothic16', sans-serif;
  background-color: white;
  font-size: 10px;
}

.top-image .top-title{
  font-size: 20px;
  position: absolute;
  color: white;
  font-weight: bold;
  top: 10%;
  text-shadow: 1px 1px 2px white, 0 0 1em gray, 0 0 0.2em gray;
}

.top-image .top-text{
  line-height: 2.5;
  font-size: 10px;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  color: white;
  max-width: 90%;
  top: 20%;
  text-shadow: 1px 1px 2px gray, 0 0 1em gray, 0 0 0.2em gray;
}
  .page-title{
    padding: 5px;
    font-weight: 450;
    font-size: 23px;
  }
}