/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.helloname{
  font-family: 'Darumadrop One', cursive;
  font-size: 30px;
}

.page-title{
  font-family: 'Yusei Magic', sans-serif;
  // background-color: #ddd;
  display: inline-block;
  // padding: 5px;
  // border-radius: 5px;
  font-size: 40px;
}

header {
  font-family: 'Yusei Magic', sans-serif;
}

main {
  font-family: 'Yusei Magic', sans-serif;
  // font-family: 'RocknRoll One', sans-serif;
}

footer{
  font-family: 'Yusei Magic', sans-serif;
}

.page-subtitle{
  background-color: #ddd;
  display: inline-block;
  margin: 1% 2%;
  padding: 5px;
  border-radius: 5px;
}

.pagination{
  justify-content: center;
}

.lists {
  border: 2px solid #dcdcdc;
}

th {
  color: #006400;
}

.lists-image {
  padding: 10px;
}