/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-name{
  font-family: 'DotGothic16', sans-serif;
  font-size: 30px;
}

.login-admin{
  font-size: 25px;
  padding: 5px;
  color: #008000;
  background-color: #fffacd;
}

.nav-link{
  color: #808080;
  padding: 2px;
  border-radius: 5px;
}

.page-title{
  // background-color: #ddd;
  display: inline-block;
  // padding: 5px;
  // border-radius: 5px;
  font-size: 40px;
}

header {
  font-family: 'DotGothic16', sans-serif;
}

main {
  font-family: 'DotGothic16', sans-serif;
  
}

footer{
  font-family: 'DotGothic16', sans-serif;
}

.page-subtitle{
  background-color: #ddd;
  display: inline-block;
  margin: 1% 2%;
  padding: 5px;
  border-radius: 5px;
}

.pagination{
  justify-content: center;
}

.lists {
  border: 2px dotted #dcdcdc;
  border-radius: 20px;
  border-collapse: separate;
  
}

th {
  color: #006400;
}

.lists-image {
  padding: 10px;
}

.spoiler {
  color: #ff7f50;
}

.favorite-explain{
  font-size: 20px;
  padding-left: 20px;
  color: green;
}

.mypage-title{
  color: #dc143c;
  margin-top :20px;
}
