<div class="container">
  <h4 class="page-title">本の詳細</h4>
  <div class="row">
    <%= render 'show', book: @book %>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">
      <%= link_to "レビューを投稿する", new_book_review_path(@book.isbn), class:"btn btn-success" %>
    </div>
  </div>
</div>

<% Review.where(isbn: @book.isbn ).each do |review| %>
  <%= review.content %>
   <%= review.user.name %>
<% end %>