<!--review-->
<table>
  <tbody>
    <% review.review_comments.each do |review_comment| %>
      <tr>
        <td>
          <%= link_to mypage_path(name: review_comment.user.name) do %>
            <%= review_comment.user.name %>
          <% end %>
        </td>
        <td><%= review_comment.comment %></td>
        <td>
          <% if review_comment.user == current_user %>
            <%= link_to "削除", review_review_comment_path(review, review_comment), method: :delete, class: "btn btn-danger btn-sm pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>