<table class="table">
  <!--<thead>-->
  <!--  <tr>-->
  <!--    <th></th>-->
  <!--    <th>name</th>-->
  <!--    <th></th>-->
  <!--    <th colspan="2"></th>-->
  <!--  </tr>-->
  <!--</thead>-->
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td style="width: 10%"><%= image_tag user.get_profile_image, size: '40x50' %></td>
        <td>
          <%= link_to mypage_path(name: user.name) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td style="width: 23%"><%= render "public/relationships/btn", user: user %></td>
      </tr>
    <% end %>
  </tbody>
</table>