<div class="container-fluid">
  <div class="row">
    <% if params[:name] %>
      <div class="col-md-3">
        <%= render 'public/partial/userinfo', user: @user, book: @book, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
      </div>
    <% end %>
    
    <div class="col-md-8 offset-md-1">
      <h4 class="page-title">
        <% if params[:name].present? && params[:name] == current_user.name %>
          あなたの好きなジャンル
        <% elsif params[:name].present? && params[:name] != current_user.name %>
          <%= @user.name %>さんの好きなジャンル
        <% end %>
      </h4>
      
      <div class="table-responsive">
        <% @favorite_genres.each do |favorite_genre| %>
          <%= link_to favorite_genre.genre.name, books_search_path(genre_id: favorite_genre.genre.book_genre_id, title: nil, author: nil) %>
        <% end %>
      </div>
      
    </div>
  </div>  
</div>