<!--条件分岐確認OK-->
<div class="container-fluid">
  <div class="row">
    <% if params[:name] %>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
      </div>
    <% end %>
    
    <div class="col-lg-8 offset-md-1 col-md-12 col-sm-12">
      <% if @user == current_user %>
        <h4 class="page-title">あなたのお気に入りジャンル</h4>
        <p>※プロフィール編集で、好きなジャンルを登録できます。</p>
      <% else %>
        <h4><%= @user.name %>さんのお気に入りジャンル</h4>
      <% end %>
        
        
      <% if @favorite_genres.present? %>
        <div class="table-responsive">
          <% @favorite_genres.each do |favorite_genre| %>
          <ul>
            <li>
              <%= link_to favorite_genre.genre.name, books_search_path(book_genre_id: favorite_genre.genre.book_genre_id) %>
            </li>
          </ul>
          <% end %>
      </div>
      <% else %>
        <p class="ml-2">お気に入りジャンルがまだありません</p>
      <% end %>
    </div>
  </div>  
</div>