<div class="container-fluid">
  <div class="row">
    <% if params[:name] %>
      <div class="col-md-3">
        <%= render 'public/partial/userinfo', user: @user, book: @book, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
      </div>
    <% end %>
    
    <div class="col-md-8 offset-md-1">
      <% if params[:name].present? && params[:name] == current_user.name %>
        <h4 class="page-title">あなたの好きなジャンル</h4>
        <p>※プロフィール編集から好きなジャンルを登録できます。</p>
      <% elsif params[:name].present? && params[:name] != current_user.name %>
        <h4 class="page-title"><%= @user.name %>さんの好きなジャンル</h4>
      <% end %>
      
      <div class="table-responsive">
        <% @favorite_genres.each do |favorite_genre| %>
          <%= link_to favorite_genre.genre.name, books_search_path(book_genre_id: favorite_genre.genre.book_genre_id) %>
        <% end %>
      </div>
      
    </div>
  </div>  
</div>