<!--mypage-->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2 class="page-title">User info</h2><br>
      <%= render 'info', user: current_user %>
    </div>
  </div>
</div>